<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de Categorías</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Categorías</h1>
    <a th:href="@{/categorias/nuevo}" class="btn btn-primary mb-3">Nueva Categoría</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.nombre}"></td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>
