<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Listado de Libros</title>
</head>
<body>
<section layout:fragment="content">

<h1>Listado de Libros</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Disponibles</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="libro : ${libros}">
            <td th:text="${libro.titulo}"></td>
            <td th:text="${libro.autor}"></td>
            <td th:text="${libro.cantidadDisponible}"></td>
        </tr>
    </tbody>
</table>

</section>
</body>
</html>
