<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Recuperar contraseña</title>
</head>

<body>
<section layout:fragment="content">
    <h2>Recuperar contraseña</h2>
    <form th:action="@{/recuperar-password}" method="post">
        <label>Introduce tu correo electrónico:</label><br>
        <input type="email" name="email" required />
        <button type="submit">Enviar nueva contraseña</button>
    </form>

    <div th:if="${mensaje}" th:text="${mensaje}" style="margin-top: 1em; color: green;"></div>
</section>
</body>
</html>
